<!--<nav class="top-bar">
  <div class="menu-centered">
    <ul class="menu">
      <li class="menu-text nav-title">{{ site.title }}</li>
    </ul>
  </div>
  <div class="menu-centered">
    <ul class="menu">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>-->
<header class="banner" style="background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5)), url(/images/island.jpg);">
  <div class="row header-content text-center vertical">
    <div class="medium-12 medium-centered column">
      <h1 class="header-title">Alabama</h1>
      <h1 class="header-sub-title">Gray</h1>
      <p class="header-text">A Framework for any device, medium, and accessibility.</p>
    </div>
  </div>
</header>
