<nav id="nav" class="nav fade-in-slow">
  <div class="nav-title vertical">
    <a href="{{ site.url }}"><img class="nav-logo" src="/images/logo.svg" alt="{{ site.title }}"/></a>
  </div>
  <div class="nav-items">
    <ul>
      {% for page in site.pages %}
        {% if page.menu == "true" %}
          <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <a href="#" class="nav-button" id="navButton">
      <span class="burger-icon"></span>
    </a>
  </div>
</nav>
<nav class="mobile-nav">
  <div class="mobile-nav-items vertical">
    <ul class="vertical">
      {% for page in site.pages %}
        {% if page.menu == "true" %}
          <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
          <li>
            <a href="/journal">Journal</a>
          </li>
    </ul>
  </div>
</nav>
